
# debug
# dependencies
# env files (secrets!)
# misc
# next.js
# production
# testing
# typescript
# vercel
*.pem
*.tsbuildinfo
.DS_Store
.env*.local
.env.production
.pnp.*
.vercel
.yarn/install-state.gz
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
next-env.d.ts
npm-debug.log*
